extends layout

block content
  div.container-fluid.display
    img(src="/images/home/ulm_fond_ciel_1.png", alt="display")

  div.container
    div.row.links
      //div.col-sm-8.col-md-2
      a.col-sm-8.col-md-2.link(href="javascript:void(0)") About Us
      a.col-sm-8.col-md-2.link(href="javascript:void(0)") The benefits
      a.col-sm-8.col-md-2.link(href="javascript:void(0)") Distributors
      a.col-sm-8.col-md-2.link(href="javascript:void(0)") Visit our factory
    div.row
      div.col-md-2
        img#latest-image(src="/images/home/bouton_actu_en.png", alt="LATEST NEWS")
      div.col-md-6
        p Derniere news
      div.col-md-1
      div.col-md-3.sidebar
        ul
          li
            a(href="javascript:void(0)") ACTUALITES
          li
            a(href="javascript:void(0)") NEWSLETTER
          li
             a(href="javascript:void(0)") DOCS TECHNIQUES
          li
            a(href="javascript:void(0)") PHOTOS
          li
            a(href="javascript:void(0)") VIDEOS
          li
            a(href="javascript:void(0)") CONTACT

    div.row
      img(src="/images/home/bouton_boutique_en.jpg", alt="shop aircreation")

