extends index

block image
    img(src="/images/welcome/topfull_village.jpg")

block descript_content
    h2 About Us
    p Located in Ardeche since 1982, Air Creation, 
    one of the first French company involved in the design and manufacture of Flexwing " 
    "and Ultra light Aircraft, is the world leader in the market for Ultralights from the weightshift category" + 
    " also named Trikes or Motorized Delta.