extends ../layout

block content
    block image

    div.container-fluid
        div.row
            div.col-sm-1.col-md-1
            div.descript-content.col-sm-10.col-md-7
                block descript_content
            div.sidebar.col-md-3
                ul
                    li
                        a(href="javascript:void(0)") ACTUALITES
                    li
                        a(href="javascript:void(0)") NEWSLETTER
                    li
                        a(href="javascript:void(0)") DOCS TECHNIQUES
                    li
                        a(href="javascript:void(0)") PHOTOS
                    li
                        a(href="javascript:void(0)") VIDEOS
                    li
                        a(href="javascript:void(0)") CONTACT