extends index

block image
    img(src="/images/news/image_inner_7.jpg")

block descript_content
    h2 Newsletter sign-up
    div.row
        div.col-sm-12.col-md-12.col-lg-12
            div.thumbnail
                div.caption
                    img(src="/images/news/bouton_newsletter.png",alt="newsletter")
                    h3 Registration
                    p Next....
                    p You will soon be able to subscribe to our newsletter and keep up to date with Air Création:
                    p News, trade shows, good deals and much more!