extends index

block image
    img(src="/images/news/image_inner_5.jpg")

block descript_content
    h1 最近新闻
    div.row
        div.col-sm-12.col-md-12.col-lg-12
            div.thumbnail.recent-thumbnail
                div.caption
                    h2 AERO Friedrichshafen
                    label 05 au 08 Avril 2017
                    div.brief
                        img(src="/images/news/recent/AERO-Hall-1-Stand-B116.jpg",alt="AERO")
                        p Hall 1 - Stand B116
                    a.btn.btn-primary(href="javascript:void(0)", role="button") 阅读更多
            div.thumbnail.recent-thumbnail
                div.caption
                    h2 BioniX<sup>2</sup>
                    label It is a BioniX power 2
                    div.brief
                        img(src="/images/news/recent/bionix_tanarg_402_-_c.jpg",alt="BioniX")
                        p "It minimizes the piloting actions and extends your flight possibilities to the most severe aerologic conditions, with confidence, without fatigue."Even more stable, more flexible, easier, more durable, this wing has not finished to astonish you.
                    a.btn.btn-primary(href="javascript:void(0)", role="button") 阅读更多
            div.thumbnail.recent-thumbnail
                div.caption
                    h2 iFun 13
                    label Videos
                    div.brief
                        img(src="/images/news/recent/ifun_13.jpg",alt="ifun 13")
                        p How do they fold? How are they transported? And how to reassemble them? You will know everything: Arrival on trailer in SP version - unfolding - flight - folding. Or standard version - floor mounting - without tools without assistance
                    a.btn.btn-primary(href="javascript:void(0)", role="button") 阅读更多
            div.thumbnail.recent-thumbnail
                div.caption
                    h2 IFun and Pixel in kit
                    label wing + tricycle + engine
                    div.brief
                        img(src="/images/news/recent/ifun_pixel_kit.jpg",alt="AERO")
                        p iFun Pixel range is also available in kit form, On the attached photos,theKit iFun Pixel 250 XC which have been mounted in a few days by Sullivan from ULM Decouverte, with Samir Elari, who much appreciate the qualities of the iFun13 .... The low volume of packaged kits (1,10 m3 / 120 Kg), allows to consider shipping on all flights with a very economical price.
                    a.btn.btn-primary(href="javascript:void(0)", role="button") 阅读更多